@import 'https://fonts.googleapis.com/css?family=Lato:400,400i,700';
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    font-family: 'Lato', sans-serif;
    height: 100%;
}
.container{
    margin: 50px auto;
    width: 100%;
    max-width: 1200px;
    position: relative;
}
.container-fluid{
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    position: relative;
}

.btn{
    padding: 15px 30px;
    text-decoration: none;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
    color: #000;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
}
.btn.btn-orange{
    background-color: #ff8339;
    color: #ffffff;
}

#slide10 h1{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.5em;
    color: #fff;
    transform: translate3d(-50%, -50%, 0);
}
#slide10 .btn{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}